<section id="login">
    <form class="form">
        <h1 class="title">Вход</h1>
        <label class="input-wrap">
            <input type="text" name="login" required>
            <span class="label">Логин</span>
        </label>
        <label class="input-wrap">
            <input type="password" name="password" required>
            <span class="label">Пароль</span>
        </label>
        <button type="submit" class="btn">Вход</button>
        <a href="/registration" class="link">Нет аккаунта?</a>
    </form>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        document.querySelector('.form').addEventListener('submit', function(e) {
            e.preventDefault()
            console.log(e);
            console.log('dsdg');
        })
    });
</script>