.container {
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

section {
  max-width: 1800px;
  margin: 0 auto;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 15px;
}

.title {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.red {
  color: $red-color;
}
