<li class="chat-list__item">
    <div class="image no-image"></div>
    <div class="text">
        <h4>{{name}}</h4>
        <div class="message">
            {{message}}
        </div>
    </div>
    <div class="time">{{date}}</div>
    <div class="messages-count">{{countMessages}}</div>
</li>
