<section id="registration">
    <div class="form">
        <form>
            <h1 class="title">Вход</h1>
            <label class="input-wrap">
                <input type="email" name="email" required>
                <span class="label">Почта</span>
                <span class="prompt">Неверный логин</span>
            </label>
            <label class="input-wrap">
                <input type="text" name="login" required>
                <span class="label">Логин</span>
            </label>
            <label class="input-wrap">
                <input type="text" name="first_name" required>
                <span class="label">Имя</span>
            </label>
            <label class="input-wrap">
                <input type="text" name="second_name" required>
                <span class="label">Фамилия</span>
            </label>
            <label class="input-wrap">
                <input type="tel" name="phone" required>
                <span class="label">Телефон</span>
            </label>
            <label class="input-wrap">
                <input type="password" name="password" required>
                <span class="label">Пароль</span>
            </label>
            <label class="input-wrap">
                <input type="password" name="password_2" required>
                <span class="label">Пароль (ещё раз)</span>
                <span class="prompt">Пароли не совпадают</span>
            </label>
            <button type="submit" class="btn">Регистрация</button>
            <a href="/" class="link">Войти?</a>
        </form>
    </div>
</section>