<section id="account" class="active">
    <div class="back" data-click="toggleAccountVisibility"></div>
    <div class="wrap">
        <div class="container">
            <div class="image">
                <img class="account-image" src="img/noImage.svg" alt="Поменять аватар">
                <div class="change-image" data-click="changeAvatar">
                    Поменять <br>аватар
                </div>
            </div>
            <h2>Иван</h2>
            <form class="user-info">
                <ul>
                    <li>
                        <span>Почта</span>
                        <input type="text" name="email" value="pochta@yandex.ru">
                    </li>
                    <li>
                        <span>Логин</span>
                        <input type="text" name="login" value="ivanivanov">
                    </li>
                    <li>
                        <span>Имя</span>
                        <input type="text" name="first_name" value="Иван">
                    </li>
                    <li>
                        <span>Фамилия</span>
                        <input type="text" name="second_name" value="Иванов">
                    </li>
                    <li>
                        <span>Имя в чате</span>
                        <input type="text" name="display_name" value="Иван">
                    </li>
                    <li>
                        <span>Телефон</span>
                        <input type="text" name="phone" value="+7 (909) 967 30 30">
                    </li>
                </ul>
                <ul class="password">
                    <li>
                        <span>Старый пароль</span>
                        <input type="password" name="oldPassword">
                    </li>
                    <li>
                        <span>Новый пароль</span>
                        <input type="password" name="newPassword">
                    </li>
                    <li>
                        <span>Повторите новый пароль</span>
                        <input type="password" name="newPassword_2">
                    </li>
                </ul>
                <button class="btn">
                    Сохранить
                </button>
            </form>
            <ul class="links">
                {{{links}}}
            </ul>
        </div>
    </div>
</section>
<div class="modal form change-avatar">
    <h3 class="title">Загрузите файл</h3>
    <h3 class="title error-title" style="display: none;">Ошибка, попробуйте ещё раз</h3>
    <form>
        <label class="file-wrap">
            <input type="file" name="avatar" accept="image/*">
            <span class="label link">Выбрать файл на <br>компьютере</span>
            <span class="filename"></span>
        </label>
        <div class="error" style="display: none;">Нужно выбрать файл</div>
        <button type="submit" class="btn">Поменять</button>
    </form>
</div>
