<section id="error">
  <div class="container">
    <h1>{{errorCode}}</h1>
    <h3>{{justification}}</h3>
    <h2>{{email}}</h2>
    <a href="/messenger" class="link">Назад к чатам</a>
  </div>
</section>